<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--
        课程的大纲
        1.properties
        2.resultMap
            2.1 自动映射（settings的设置：别名，自动映射行为等）
            2.2 手动映射，id，result
            2.3 构造函数映射处理
            2.4 映射配置的继承

在TypeAliasRegistry中可以看到自带的类型别名注册信息
-->
    <properties resource="db.properties" >
   <!--   <property name="url" value=""/>-->

        <property name="defaultExecutorType" value="BATCH"/>
    </properties>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>

    </settings>

    <environments default="dev">
        <environment id="dev">

            <transactionManager type="JDBC"/>


            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <mapper resource="employeeMapper.xml"/>
    </mappers>
</configuration>